.header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13px;
    letter-spacing: 0.5px;    
}
.header-top{
    position: relative;
    padding: 8px 0;
    height: 35px;
    background-color: #cc3636;
    color: #fff;
}
.header-top-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header-top-li{
    display: flex;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
}

.wall-carousel {
    position: relative;
    z-index: 0;
    height: 100vh;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wall-carousel-wrapper{
    background :linear-gradient(rgba(16, 15, 34, 0.911),#00000000);
    position: absolute;
    top: 35px;
    width: 100%;
    z-index: 10;
}
.header-brand{
    display: flex;
    width: 100%;
    position: relative;
    padding: 10px 0;
}
.header-brand-wrapper{
    display: flex;
    width: 100%;
    overflow-x: hidden;
    align-items: center;
    justify-content: space-between;
}
.header-brand-name-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header-brand-name-wrapper > img{
    height: 80px;
    width: 80px;
}
.brand-name{
    color: #fff;
    margin: auto;
    font-family: 'Vollkorn', serif;
    padding: 0 10px;
}
.header-main{
    display: flex;
    position: relative;
    padding: 0px 10%;
    justify-content: center;
}
.main-navigation-ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.main-navigation-li{
    padding: 6px 18px;
    margin: 0 10px;
    color: #fff;
    font-size: 20px;
}
.main-navigation-li:hover{
    background-color: #cc3636;
    color:white;
}
.header-caption{
    text-align: center;
    width: 60%;
    color: whitesmoke;
    display: flex;
    margin: 5% auto;
    font-family: 'Monoton', cursive;
    align-content: center;
    justify-self: center;
    font-size: xx-large;
}
.header-content-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8%;
}
.header-brand-search-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-box{
    position: relative;
    width: 500px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-search{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 200px;
    border: 3px solid #cc3636;
    border-radius: 50px;
    outline: none;
    padding: 0 16px;
    font-size: 16px;
    box-sizing: border-box;
    transition: all 0.7s ease;    
}
.input-search.active{
    right: 50px;
    width: 200px;
}
.btn-search{
    position: absolute;
    height: 50px;
    width: 50px;
    font-size: 20px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    right: 200px;
    background-color: #cc3636;
    color: beige;
    border: 2px solid white;
    transition: all 0.7s ease;
}
.btn-search.animate{
    transform: rotate(360deg);
    right: 30px;
    border: 3px solid white;

}