.header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13px;
    letter-spacing: 0.5px;    
}
.header-top{
    padding: 8px 0;
    background-color: #cc3636;
    color: #fff;
}
.header-top-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header-top-li{
    display: flex;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
}
.header-brand{
    display: flex;
    position: relative;
    padding: 10px 10%;
}
.header-brand-wrapper{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.header-brand-name-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header-brand-name-wrapper > img{
    height: 80px;
    width: 80px;
}
.brand-name{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    padding: 0 10px;
}
.header-main{
    display: flex;
    position: relative;
    padding: 0px 10%;
    justify-content: center;
}
.main-navigation-ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-navigation-li{
    padding: 6px 18px;
    margin: 0 10px;
    font-size: 18px;
}
.main-navigation-li:hover{
    background-color: #cc3636;
    color:white;
}