
.bg {
    background-image: url("https://raw.githubusercontent.com/pranjalvarshney/react-gbu/main/public/images/gbu-vitual.jpg?token=ALJW3R6H2XSDEVTUZSEO353AGSUGC");
    width:auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    }