
.footer-bg {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    }
    footer.page-footer a {
        color: rgb(255, 255, 255)!important;
    }
    .footer-img{
       height: 200px !important;
    }
    .footer-bg-wrapper{
        background-color: #02001b9d;
    }